/* 기본 스타일 */
.page_container {
    position: absolute;
    height: 100vh;
    top: 0px;
    /* width: calc(100% - 150px); */
    /* left: 150px; */
    transition: all 0.3s ease;
    background-color: #DFE8EF;
}
.page_container.open{
    width: calc(100% - 219px);
    left: 219px;
}
.page_container.close{
    width: calc(100% - 65px);
    left: 65px;
}


/* 페이지별 배경색 */
.page_container.home {
    /* background-color: #f8f9fa; */
}
.page_container.adminuser {
    /* background-color: #ffe4e1; */
}
.page_container.adminboard {
    /* background-color: #e6e6fa; */
}
.page_container.adminprice {
    /* background-color: #f0e68c; */
}
